body {
    background-color:rgb(35, 29, 75);
    margin: 2%;
    padding: 2%;
}
h1 {
    color: rgb(172, 203, 231);
    font-family: Courier;
    font-size: 200%;
}
h2 {
    color:cornflowerblue;
    font-family: Courier;
    font-size: 150%;
}
h3 {
    color: deepskyblue;
    font-family: Courier;
    font-size: 150%;
}
h4 {
    color:aquamarine;
    font-family: Courier;
    font-size: 120%;
}
h5 {
    color:antiquewhite;
    font-family: Courier;
    font-size: 120%;
}
h6 {
    color:honeydew;
    font-family: Courier;
    font-size: 110%;
}
p {
    color:aliceblue;
    font-family: Courier;
    font-size: 100%;
}